
  
body {
    margin: 0;
    background: linear-gradient(
        rgba(20, 20, 40, 0.5),
        rgba(20, 20, 40, 0.8)
      ),
      url("https://www.freeworldmaps.net/printable/printable-world-map-hd.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
 
  
  #root {
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
  }
  .home-container {
    max-width: 600px;
    margin: 60px auto;
    text-align: center;
    background: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    color: rgb(9, 9, 9);
  }
  
  .home-container input,
  .home-container button {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
  }